<footer class="page-footer bg-dark mt-auto">
    <div class="container-fluid row justify-content-center align-items-center">
        <div class="col">
            <div class="row text-center mt-2">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
            </div>
            <div class="row justify-content-center text-light mx-auto">
                <p class="text-center">
                    Este material está sujeto a una licencia <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>.
                </p>
            </div>
        </div>
        <div class="col">
            <p class="text-light text-center justify-content-center">
                <button type="button" class="btn btn-labeled btn-dark" onclick="window.location.href='https://github.com/AdriandMartin/material-mentor'">
                    Proponer cambios en GitHub
                    <i class="fa fa-github"></i>
                </button>
            </p>
        </div>
    </div>
</footer>
