<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
    <div class="container justify-content-center">
        <ul class="navbar-nav align-items-center">
            <a class="navbar-brand btn btn-large btn-dark" style="font-size: xx-large; font-weight: bolder;" href="{{ site.url }}">
                ~/
            </a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Asignaturas</a>
                <ul class="dropdown-menu">
                    <li><h5 class="dropdown-header">Primero</h5></li>
                    <li><a class="dropdown-item" href="{{ site.url }}/asignaturas/aoc1">Arquitectura y Organización de Computadores 1</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="{{ site.url }}/adicional">Adicional</a>
            </li>
        </ul>
    </div> 
</nav>
